<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138802023275-uv47qggn1912juttnii84d22cchtj52g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138802023275-uv47qggn1912juttnii84d22cchtj52g</string>
	<key>API_KEY</key>
	<string>AIzaSyDqZKWgF4Whxwi4hponb6A2HDWwze9SxtU</string>
	<key>GCM_SENDER_ID</key>
	<string>138802023275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dyonmez.Oruc</string>
	<key>PROJECT_ID</key>
	<string>oruc-87144</string>
	<key>STORAGE_BUCKET</key>
	<string>oruc-87144.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138802023275:ios:c89b0f6833bf84b5699a2e</string>
</dict>
</plist>